<section class="property-binding">
    <article>
        <h3>Interpolação!</h3>
        <p>String renderizada com interpolação: {{ url }}</p>
        <p>O resultado da soma de 1 + 1 é: {{ 1 + 1 }}</p>
        <p>O resultado da soma de 1 + 1 não é: {{ 1 + getValor() }}</p>
        <p>Curso Angular é bom: {{ cursoAngular && getCurtirCurso() }}</p>
    </article>

    <article>
        <h3> Property Binding </h3>
        <img src="{{ urlImagem }}" />
        <img [src]="urlImagem" />
    </article>
</section>
